[2016-08-24 20:05] juliushaertl opened #1 "Include further details"
- [ ] External Storage
- [ ] Encryption
- [ ] External User Backends

[2016-08-24 20:05] juliushaertl opened #2 "Add Nextcloud log entries"

[2016-08-24 20:50] juliushaertl opened #3 "GitHub returns 502 error if user is not logged in"
- [x] report issue to github
- [ ] ~add info text to the user interface~

[2016-08-25 08:28] juliushaertl opened #4 "Add unit tests"

[2016-08-25 19:12] JSoko opened #5 "no maximum Nextcloud Version"
### Steps to reproduce
1. Install issuetemplate

### Expected behaviour
No warning

### Actual behaviour
Warning:
This app has no maximum Nextcloud version assigned. This will be an error in the future.

### Server configuration
**Operating system**: Linux OdOc 3.10.96 #1 SMP PREEMPT Mon May 23 01:50:06 BRT 2016 armv7l

**Web server:**  apache2handler

**Database:** mysql

**PHP version:** 7.0.8-0

[2016-08-25 19:59] juliushaertl commented on #5
Thanks for your report. This is now fixed in 97521f38b542197097dc72645550f3407ebf5c1e

[2016-08-25 19:59] #5 closed

[2016-08-25 20:03] juliushaertl opened #6 "Add config options for instance specific fields"
Some information needs to get configured by the submitter once and their values can be reused.

e.g. Where did you install Nextcloud from

[2016-08-25 20:05] juliushaertl opened #7 "Copy to clipboard button"
Add a copy to clipboard button if users want to copy the issue template.

[2016-08-25 20:38] juliushaertl commented on #3
Fixed by GitHub now! :tada:

[2016-08-25 20:38] #3 closed

[2016-09-04 19:00] #7 closed

[2016-09-13 08:51] hitam4450 opened #8 "Upload content of issuetemplate to github (thread)"
To be able to easier supply reliable debug information it would be very advantageous to upload (Selected) content from the issuetemplate to a specific github thread, without using cut & paste functions 1

regards, hitam 4450

[2016-09-28 13:50] juliushaertl opened #9 "Support other repositories than nextcloud/server"

[2016-09-28 13:51] juliushaertl opened #10 "Use GitHub API to submit issues"
- Admin settings for API token

[2016-09-28 13:52] juliushaertl commented on #8
This might be possible in the future when there is an integration with the github api. see #10

[2016-09-29 07:49] hitam4450 commented on #8
Ok, never mind...if it takes some time to implement!

regards, hitam4450

[2017-01-19 16:52] nickvergessen opened #11 "Add to the appstore"
Would help people like:
https://github.com/nextcloud/server/issues/3167

😸

[2017-01-19 21:39] juliushaertl commented on #11
Done :wink:

[2017-01-19 21:39] #11 closed

[2017-01-20 07:07] JSoko opened #12 "Link Resources in NC-Appstore to github"
In the nc-Appstore https://apps.nextcloud.com/apps/issuetemplate
under **Resources** there should be at least a link to github
https://github.com/juliushaertl/issuetemplate

Ps.: Thanks for Your work and for 0.2 :-))

[2017-01-24 21:17] stanelie opened #13 "errors in Nextcloud log"
Hello.

The Issue Template app generates some errors in my Nextcloud log. I am running Nextcloud 11.0.1.

 The first error line is

and then, I get

about 20 times.

[2017-01-25 10:27] juliushaertl commented on #13
@stanelie Thanks for the report. I'll have a look at it.

This can be fixed by adding a browercap file to your server config http://stackoverflow.com/questions/2036956/browscap-ini-directive-not-set#2036968 But at least the error should not mess up the server logs.

[2017-01-25 10:29] juliushaertl commented on #12
Ah thanks, we need to add the repo and issue tracking links to the appinfo.xml file, as described here:
https://nextcloudappstore.readthedocs.io/en/latest/developer.html#info-xml

[2017-01-25 17:28] stanelie commented on #13
I've adjusted the browscap setting in php.ini and that error is gone.

Noe, the first error message in the log is

`Undefined index: plattform at /var/www/nextcloud/apps/issuetemplate/lib/Settings/Admin.php#266`

before the multiple `Undefined index: bugs at /var/www/nextcloud/apps/issuetemplate/lib/Settings/Admin.php#215`

[2017-01-30 10:05] #12 closed

[2017-01-30 10:06] juliushaertl commented on #13
@stanelie Those should be fixed now on master. Thanks again for reporting.

[2017-01-30 10:06] #13 closed

[2017-01-30 10:08] juliushaertl commented on #9
added with 6d8cac0

This will show all apps that provide a <bugs> tag inside the info.xml file with a link matching:

`/https:\/\/(www.)?github.com\/(.*)\/issues/i`

[2017-01-30 10:08] #9 closed

[2017-02-01 04:47] stanelie opened #14 "error in nextcloud log"
Hello again.

The new build gives out another error in the log :
`Undefined index: plattform at /var/www/nextcloud/apps/issuetemplate/lib/Settings/Admin.php#266`

[2017-02-01 16:43] juliushaertl commented on #14
@stanelie Thanks for reporting. I've added another check for those in f9ef0ef.

[2017-02-01 16:43] #14 closed

[2017-02-01 17:42] stanelie commented on #14
Works.
Thanks!

[2017-02-05 13:16] oparoz opened #15 "Missing Gallery entry"
Gallery is shipped with the server, but is a separate app, so it needs to be added as an additional entry (for now)

[2017-02-05 13:19] oparoz commented on #15
Should I just add it here?:
https://github.com/juliushaertl/issuetemplate/blob/51fa558553f5d8e937962b41c57bf537c2befc5c/lib/Settings/Admin.php#L212

[2017-02-05 14:37] juliushaertl commented on #15
It would make more sense to me to just add <bugs> tag to the gallery appinfo.xml so we don't have to much hard coded stuff in here. Or am I missing some reason why it shouldn't be in there?

[2017-02-05 15:44] oparoz commented on #15
If that's all it takes, then yes, it's easier. I wasn't sure what you were using :)

[2017-02-05 15:44] #15 closed

[2017-02-05 15:57] juliushaertl commented on #15
Sure, that should be documented somewhere. :see_no_evil:

[2017-03-15 20:28] Loki3000 opened #16 "Error in nextcloud log"
[code]
220 string is
[code]
I check $appTitle:
[code]

is $appTitle really can be an array or it's error of Notes app?

[2017-03-16 11:04] juliushaertl commented on #16
Hm that looks strange. $appTitle should be a string containing ` \OC_App::getAppInfo($app)['name']`. I'll try to reproduce this. What versions of Nextcloud/notes/issuetemplate are you using?

[2017-03-16 11:34] Loki3000 commented on #16
Nextcloud 11.0.2
Notes 2.2.0
Issue Template 0.2.1

[2017-04-05 06:54] tobiasKaminsky opened #17 "Add android repo"
As jos has linked to the issue template (https://github.com/nextcloud/android/pull/800), this should also show the android repo with the correct issue template.

[2017-04-23 12:34] juliushaertl commented on #17
fixed with #18

[2017-04-23 12:34] #17 closed

[2017-04-23 12:35] juliushaertl opened #20 "Move to drone ci"

[2017-04-23 20:50] juliushaertl commented on #20
Done in #21

[2017-04-23 20:50] #20 closed

[2017-04-24 05:23] tobiasKaminsky commented on #17
Thank you :+1:

[2017-04-24 09:14] juliushaertl opened #22 "Improve issue reporting workflow"
Reporting issues should be easier with a guided wizard that provides the following steps:

1. Select repository
2. Enter title / Find existing issue to attach the issuetemplate to
3. Fill out issue description with steps to reproduce
4. Fill out missing fields that require user input (e.g. Browser console log, android version, ...)
5. Preview / Send report

[2017-04-24 09:15] juliushaertl opened #23 "Allow apps to customize the issue template"
Apps should be able to register their own sections/fields to be included in the issue template.

[2017-04-24 09:17] juliushaertl commented on #16
@Loki3000 Thanks for reporting. A fix for this issue will be in when #19 is ready.

[2017-05-23 12:31] enoch85 opened #25 "Formatting is messed up"
Please check this issue: https://github.com/nextcloud/server/issues/5066

[2017-05-23 13:53] enoch85 opened #26 "Missing SVG"
There should be an SVG like the other apps / settings

![screenshot from 2017-05-23 15-52-13](https://cloud.githubusercontent.com/assets/4511254/26357541/e2358fba-3fcf-11e7-93ba-e2ed67a6720f.png)

[2017-05-24 09:10] juliushaertl commented on #25
That should be fixed after https://github.com/nextcloud/issuetemplate/pull/24 is merged.

[2017-05-24 09:33] ho1ger opened #27 "Privacy issue: Issue template is to "chatty""
I like to use issuetemplate because it helps providing important info to the developers. I am totally happy to share what apps I use, what device the instance is running on, etc. But I am not happy to share info that would allow others to identify my server, the url(s) it listens to, etc. In my opinion the following fields should be considered as SENSITIVE VALUE and REMOVED. I even doubt that this

[2017-06-06 12:25] #25 closed

[2017-07-31 08:55] uschlaak opened #28 "deleted or renamed folders show up"
we use nextcloud with about 10 root folders including subfolders and about 10 users with explicit permissions to different root folders. The users connect to nextcloud over web and over nextcloud app for windows.

if a user deletes or renames subfolders it often happens, that the deleted folder is still showing up in web, sometimes in nextcloud app also. these folders are not showing up for all us

[2017-08-04 10:55] juliushaertl commented on #28
@uschlaak This repo is just for the issuetemplate app. Please report the issue at the server repo: https://github.com/nextcloud/server

[2017-08-04 10:55] #28 closed

[2017-08-05 18:14] xraMsamohT commented on #23
Apps should have the ability to opt out of this template and use their own, if available. But this is a separate issue, right?

[2017-08-20 17:34] enoch85 commented on #27
I'd like to add
- dbname
- trusted_proxies

Can we get attention on this @juliushaertl ?

Btw, thanks for the last update, it feels like 1.0. ;)

[2017-08-28 14:45] e-alfred commented on #27
mail_from_adress should be private too.

[2017-09-01 20:52] juliushaertl opened #31 "Tests are broken"

[2017-09-19 17:07] Fiech commented on #27
I would also include:

* trusted_domains
* mail_smtphost
* and maybe even redis.host (or at least "localhost" or "external address")

in this list of unnecessarily extensive default information.

[2017-09-19 18:09] enoch85 commented on #27
@juliushaertl Any idea when this could be implemented?

I would do it if I knew how.

[2017-09-20 18:54] juliushaertl commented on #27
@enoch85 Cannot make any estimations. I currently have a lot of other stuff todo.

If you want to dig into, it should be fairly easy. We need a list of the configuration keys that should be filtered and just work though the existing configuration items and remove them when they are in the list: https://github.com/nextcloud/issuetemplate/blob/master/lib/Settings/Admin.php#L248-L263

[2017-09-20 20:11] enoch85 commented on #27
@juliushaertl I feel you, same for me. Can't give much time to Nextcloud I'm afraid. :(

Keep it up!

[2017-09-20 23:24] Fiech commented on #27
I could give it a shot on the weekend and make a pull request. Is this if-true-condition something left in there for testing purposes?

I've also noticed, that there would be the possibility to adjust the $sensitiveValues-Member in the [SystemConfig-class](https://github.com/nextcloud/server/blob/a1c14a747cfaa84242e8f3e21cbc10aac7c1b0fa/lib/private/SystemConfig.php#L39), we maybe could adjust. Or

[2017-09-21 09:00] juliushaertl commented on #27
@Fiech That would be great. It would indeed make sense to create a PR against the server repo to have the sensitiveValues list updated there.

[2017-10-15 08:38] juliushaertl commented on #31
Fixed with #32

[2017-10-15 08:38] #31 closed

[2017-10-15 18:38] juliushaertl commented on #26
Fixed with b4682ebc66de3346030415c7f1d75993a4886151

[2017-10-15 18:38] #26 closed

[2017-10-25 12:06] juliushaertl commented on #16
Fixed with #19

[2017-10-25 12:06] #16 closed

[2017-10-25 12:07] juliushaertl commented on #23
Fixed with #19

@xraMsamohT Also possible now, see: https://github.com/nextcloud/issuetemplate#integration-for-app-developers

[2017-10-25 12:07] #23 closed

[2017-10-25 23:29] xraMsamohT commented on #23
@juliushaertl This is not the same as an own template. ;-)

[2017-10-26 08:29] juliushaertl commented on #23
@xraMsamohT Might be a good idea to open an new issue for that then, since I'm not sure if i get you correctly. 😉 Since you can have your own template by removing the default ones and providing custom information.

[2017-10-29 19:23] Rello commented on #23
hello @juliushaertl ,
i am not completely sure on how to integrate the own template.
where would I need to add the `$dispatcher->addListener('\OCA\IssueTemplate::queryAppDetails` ?
in our appinfo/app.php?

thank you for this nice feature...

[2017-10-29 23:11] Fiech commented on #27
Ok, I made two PRs. One against the server repo and one against this one. Everything but the hostname issue is being taken care off by the server one, but for the hostname to disappear, we have to change the ServerSection file.

Actually, the method used (constant PHP_OS) is not the best anyway, because [PHP_OS is the OS PHP was built on, not the one it's running on](http://php.net/manual/de/funct

[2017-10-30 09:58] juliushaertl commented on #23
@Rello Yes, that is basically how it works. Consider moving the code to some other point, to make it a bit cleaner, as described here: https://github.com/nextcloud/documentation/blob/master/developer_manual/app/init.rst#best-practice A separate class for constructing your app details might also make sense, depending on how much you want to add.

[2017-10-31 00:37] Fiech commented on #27
Ok, so on request by @nickvergessen we redo the filtering for `trusted_domains` and `overwrite.cli.url` directly in the app and only filter out the actual domain.

Maybe someone can reopen this issue?

[2017-10-31 01:59] Fiech commented on #27
Ok, so I thought about this a bit... according to @nickvergessen wrongly configured `trusted_domains` and `overwrite.cli.url` is one of the more reported issues. So actually completely filter out these values ist most likely counterproductive in most cases.

We could now come up with a convoluted way to filter out sensitive information like:

- Public Domain Names
- public IPv4 addresses
- public

[2017-10-31 08:15] enoch85 commented on #27
I think that sounds like a good idea. :+1:

[2017-11-22 11:36] RainerEmrich opened #36 ""no app in context" and "Array to string conversion at /var/www/nc_01/nextcloud/apps/issuetemplate/lib/DetailManager.php#104" in 0.3.0"
### Steps to reproduce
1. Update to 0.3.0
2. Inspect log
3. Open app
4 Inspect log

### Expected behaviour
No errors should be thrown.

### Actual behaviour
Errors are thrown:
{"reqId":"Khyb9Rgu41LBTxhEnoXN","level":3,"time":"2017-11-22T11:23:37+00:00","remoteAddr":"24.134.13.209","user":"rainer.emrich","app":"no app in context","method":"POST","url":"\/index.php\/settings\/ajax\/enableapp.php","m

[2017-11-24 13:41] MichaIng commented on #36
Face the same on Apache 2.4 with mod_php 7.0, Nextcloud 12.0.3, issuetemplate 0.3.0 on my RPi2 kernel 4.9.62

Somehow on web ui logreader I can't expand the logs, but:
[code]
looks the same so far.

[2017-11-27 09:52] juliushaertl commented on #36
Fixed by cd359d9 and c2dff8c

[2017-11-27 09:52] #36 closed

[2017-12-19 18:49] enoch85 opened #37 "A bunch of error messages in log [NC13]"
[code]

[2017-12-23 23:16] mr-bolle commented on #36
Hi,

### Steps to reproduce
1. install & activate the App Issue Template (v 0.3.0)
2. check the Nextcloud Protocoll
3. Error 'no app in context | issue template' is written (with every access to Admin Page, a new entry i found)

### Expected behaviour
no Error written into the Nextcloud Protocol.

### Actual behaviour
If the App is active, often a Error 'no app in context | issue template' will be

[2017-12-30 18:01] juliushaertl commented on #36
It has been fixed on master, but not released yet. 😉

[2018-01-11 14:11] enoch85 commented on #37
@juliushaertl Do you think you have time to look at this?

[2018-01-11 14:11] enoch85 commented on #10
Yes please :D

[2018-01-21 17:17] heinrichmartin commented on #27
Just to make sure that all fields from #7959 are mentioned here, too.
[code]

[2018-01-27 22:48] enoch85 commented on #37
## Server configuration detail

**Operating system:** Linux 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64

**Webserver:** Apache/2.4.18 (Ubuntu) (apache2handler)

**Database:** pgsql PostgreSQL 9.6.6 on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609, 64-bit

**PHP version:** 7.0.22-0ubuntu0.16.04.1
Modules loaded: Core, date, libxml, ope

[2018-01-31 07:33] djquazzi opened #38 "MacOS Finder Extension not working any more"
### Steps to reproduce
1. Disabled / re-enabled extension in System Preferences
2. Reinstalled MacOS app
3. Restarted machine

### Expected behaviour

Right clinking a file in the Finder displays Nextcloud options (Sharing)

### Actual behaviour

Nextcloud options do not appear.

Found in log:

Jan 31 08:55:27 daniel com.apple.xpc.launchd[1] (com.nextcloud.desktopclient.1440[334]): Service exited

[2018-01-31 07:35] juliushaertl commented on #38
Please report this issue at the client repo https://github.com/nextcloud/client. This repository is just for the issuetemplate app. :wink:

[2018-01-31 07:35] #38 closed

[2018-03-04 01:48] verygreen commented on #37
I think I have something similar going on.

Just updated from 12.0.3.3 to 13.0.0.14, have this in the logs:
[code]

the passman was showing as stale in the "Additional settings" and after I disabled it - this message seems to be gone (otherwise I was getting like 4x per request served). But I don't see the app store anymore that I think was showing in the menu somewhere, my only options are to dis

[2018-03-22 16:00] pecten opened #41 "Theme background issue"
Steps followed for this subject:
1. Login to nextcloud as ncadmain and/or rvieira
2. Go to Settings — Theme
3. Choose and upload my own background image (.jpg)
4. Save
5. Logout
6. Go to QNAP Virtualization Station and Shut Off Nextcloud VM
7. Start Nextcloud VM
8. Re-start Chrome browser
9. cloud.vieira.red —> it appears the default background
-----------------------------------------------------

[2018-03-22 16:03] pecten commented on #41
From the nextcloud logs:

Level | Message | Time
-- | -- | --
Error | issuetemplate | 2018-03-22T17:01:49+0100
Error | Array to string conversion at /var/www/nextcloud/apps/issuetemplate/lib/DetailManager.php#104 | 2018-03-22T17:01:21+0100
Error | issuetemplate | 2018-03-22T17:01:21+0100
Error | Array to string conversion at /var/www/nextcloud/apps/issuetemplate/lib/DetailManager.php#104 | 2018-03

[2018-03-26 18:07] juliushaertl commented on #41
@pecten Please note that this repo is only for reporting issues of the issuetemplate app.

Your issue with theming is already reported at https://github.com/nextcloud/server/issues/8888

Anyway the log messages from issuetemplate still need to be fixed. So thanks for reporting that. :wink:

[2018-04-11 22:05] SimJoSt opened #42 "`Accessing the API class is deprecated` errors in Nextcloud log"
### Steps to reproduce
1. Have Nextcloud app "Issue Template" installed and activated
2. Check logs

### Expected behaviour
No errors regarding "Issue Template" shown.

### Actual behaviour
The following errors are shown:
[code]
![2018-04-11 23_57_24](https://user-images.githubusercontent.com/2992311/38645653-1dbb4ec6-3de5-11e8-90de-04c65971b4f0.png)

As well as this one, while creating the templa

[2018-05-11 10:32] Githopp192 opened #43 "Error no app in context issuetemplate"
The log is full of those messages:

Error 	no app in context	issuetemplate
Error	        no app in context	issuetemplate
Error 	no app in context	issuetemplate
Error	        no app in context	issuetemplate ....

Cannot be reproduces .. the messages will appear as soon the app is active.

## Server configuration detail

**Operating system:** FreeBSD 11.0-RELEASE FreeBSD 11.1-STABLE #0 r321665+de6be

[2018-05-15 10:50] Githopp192 commented on #43
![img_1033](https://user-images.githubusercontent.com/32612067/40052577-91996bb6-583e-11e8-8a31-7a2c83e125c4.jpg)
![img_1032](https://user-images.githubusercontent.com/32612067/40052578-91b9dcd4-583e-11e8-8e15-2050c0120fb1.jpg)

Just uploaded the files here .. hope it will help ..

[2018-05-30 03:08] WNYmathGuy commented on #43
### Steps to reproduce
1. I don't know.

### Expected behavior
The error message in the logs for `Error	no app in context	issuetemplate` shouldn't be there?

### Actual behavior
Its in the logs?

## Server configuration detail

**Operating system:** Linux 4.4.0-127-generic #153-Ubuntu SMP Sat May 19 10:58:46 UTC 2018 x86_64

**Webserver:** Apache/2.4.18 (cgi-fcgi)

**Database:** mysql 10.0.34

**P

[2018-06-20 06:22] #37 closed

[2018-06-24 22:48] bcutter commented on #37
I still see them on every cron run:

[code]

I´m on NC v13.0.4...

[2018-07-12 10:41] Dexter2k commented on #27
we use an S3 Bucket as primary storage. Could this info be removed as well, please?

    "objectstore": {
        "class": "OC\\Files\\ObjectStore\\S3",
        "arguments": {
            "bucket": "<PRIVATE>",
            "autocreate": true,
            "key": "<PRIVATE>",
            "secret": "<PRIVATE>",
            "hostname": "<PRIVATE>",
            "port": 443,
            "use_ssl": true,

[2018-08-22 20:12] CleanaZ commented on #43
Same problem. After deactivating and removing this app the error messages had gone.

[2018-08-23 18:54] WNYmathGuy commented on #43
@CleanaZ The issue reporting app is doing it? Did you reinstall the app afterward to see if the error messages came back?

[2018-08-24 07:35] CleanaZ commented on #43
Yes. I had activated the app again and directly after installing i called the protocol/logging page - and there were 3 new lines: the first tells me that issue template was installed, the next 2 lines are
Error | no app in context | issuetemplate
Then i didn't do anything at nextcloud for an hour - no new item was written to the log.
After that i clicked on some of the leftside menu items of the a

[2018-08-24 08:47] juliushaertl commented on #43
This should be fixed with the latest release.

[2018-08-24 08:47] #43 closed

[2018-09-03 05:27] mr-bolle opened #45 "Protect Nextcloud Server-Domain (sensitive content)"
Hi,

thank you for this usefull Application.
To protect the Server from the Issue Reporter, i would suggest set this Value also to sensitive content.

Config report > config.php
* "trusted_domains"
* "overwrite.cli.url"

br mr-bolle

[2018-09-03 10:08] juliushaertl commented on #45
Thanks for your report. This is already tracked in https://github.com/nextcloud/issuetemplate/issues/27 so I'm closing this as a duplicate.

[2018-09-03 10:08] #45 closed

[2018-10-15 20:58] quenenni opened #46 ""Web server error log" not included in the template"
In the 'logs' section, there are 2 x the "Browser log" section and no "Web server error log" (that you see in the template when creating a new ticket).

[2018-10-31 20:45] jcklpe opened #47 "Is it possible to run this using the occ commands in command line?"
My webportal of Nextcloud is currently down which is why I need to use this app to help prefill all my info. Is it possible to access this from the command line?

[2018-11-15 14:17] gohrner commented on #27
In the LDAP config info, it includes a key-value-pair:

`ldap_agent_password: adkghfadkjhfalsdkghasdfhawofhw=`

This probably also should be anonymized - and maybe some additional stuff in the LDAP section like exact user names etc.

[2018-12-08 12:47] juliushaertl opened #49 "Release version compatible with Nextcloud 15"

[2018-12-08 13:10] enoch85 commented on #49
JFTR, I didn't test it with 15, just raised the version.

[2018-12-08 15:52] enoch85 commented on #49
@juliushaertl Anything specific you want me to test? I can upgrade one of my servers and try it out.

[2018-12-08 16:51] enoch85 commented on #49
OK so I tested it and it seems like some CSP is blocking:

**Browser console**

[code]

[2018-12-17 10:34] juliushaertl commented on #49
Thanks for testing. I'll look into this one.

[2018-12-17 10:34] juliushaertl opened #50 "CSP issue with 15"
**Browser console**

[code]

_Originally posted by @enoch85 in https://github.com/nextcloud/issuetemplate/issues/49#issuecomment-445472824_

[2019-01-09 11:52] e-alfred commented on #50
Is it possible to supply a new version to the App Store that supports Nextcloud 15? I think the issue template helps a lot to create useful bug reports so it should be available once again.

[2019-01-09 17:09] juliushaertl commented on #50
CSP issues have been fixed with 0de9d83 I'll try to release a new version the next days.

[2019-01-09 17:09] #50 closed

[2019-01-14 15:58] pieter-groeneweg commented on #49
Can you update? It still shows upto version 14, not 15 yet..

[2019-02-02 00:02] Githopp192 opened #61 "Error PHP Undefined index: log-detail at /var/www/html/nextcloud/apps/issuetemplate/lib/Detail.php#59"
Steps to reproduce
whenever i do enable the Issuetemplate App

Expected behaviour
no php-error in the nextcloud.log

Actual behaviour

There are PHP-Errors

Server configuration detail
Operating system: Linux 3.10.0-957.1.3.el7.x86_64 #1 SMP Thu Nov 29 14:49:43 UTC 2018 x86_64
Webserver: Apache/2.4.6 (CentOS) OpenSSL/1.0.2k-fips PHP/7.1.25 (apache2handler)
Database: mysql 5.5.60
PHP version:
7.1.2

[2019-02-10 05:07] jcklpe commented on #49
I just removed it and then tried to download and enable and it didn't work for me.

[2019-02-11 00:21] Githopp192 commented on #61
now .. did the NC Upgrade from 14.0.6 to 15.0.4 ..

Could not download app issuetemplate .. is the not supported anymore in NC 15.0.x ?

[2019-02-11 12:20] Githopp192 opened #65 "IssueTemplate Nextcloud 15"
Hi Julius .. is IssueTemplate not supported anymore in Nextcloud 15 ?
Cheers
Mike

[2019-02-11 15:21] juliushaertl commented on #65
Hi @Githopp192 Sorry, I haven't found time to release a new version yet, but it is on my todo list. Closing this as a duplicate of https://github.com/nextcloud/issuetemplate/issues/49

[2019-02-11 15:21] #65 closed

[2019-04-07 10:16] e-alfred commented on #49
It would be great to have this app back up and running to help people write more informative and verbose bug reports.

[2019-04-07 15:59] caugner commented on #49
@juliushaertl Is there anything left to fix before releasing the NC15 version?

[2019-04-11 12:07] juliushaertl commented on #49
0.5.0 has been released with 15/16 support

[2019-04-11 12:07] #49 closed

[2019-04-11 12:07] juliushaertl commented on #61
Should be fixed with 0.5.0

[2019-04-11 12:07] #61 closed

[2019-04-11 12:08] juliushaertl commented on #46
Fixed with #71

[2019-04-11 12:08] #46 closed

[2019-04-11 12:08] #41 closed

[2019-04-11 19:18] enoch85 opened #87 "Just an undefined index"
Undefined index: log-detail at /var/www/nextcloud/apps/issuetemplate/lib/Detail.php#59

[2019-04-11 19:19] enoch85 commented on #87
0.5.0

[2019-07-25 01:59] stratege1401 commented on #87
concur, found it after upgrade to nc 16.0.3 and enabling this app :
still present on 0.5.0 as no fix was done

may using  PHP isset () may help.

[2019-08-18 09:18] mr-bolle commented on #87
### Steps to reproduce
1. activate the application issuetemplate
2. check the logging page with the admin account

### Expected behaviour
after run cron.php the error 'Undefined index: log-detail at /var/www/html/apps/issuetemplate/lib/Detail.php#59' aprears

### Actual behaviour
no Undefined index error

## Server configuration detail

**Operating system:** Linux 4.9.0-9-amd64 #1 SMP Debian 4.9.1

[2019-08-31 22:58] fazlerabbi37 opened #134 "acceblity issue in dark mode"
Issue reporting becomes almost impossible to use with dark theme enabled.

Step to reproduce:
1. Go to settings
2. Enable dark mode
3. Go to Issue reporting app

Expected behavior:
Should be able to see and read app name

Actual behavior:
We see this:
![image](https://user-images.githubusercontent.com/11360512/64069834-64bea880-cc74-11e9-8298-b3b40966e8b0.png)

TIA!

[2019-09-15 12:19] ferdiga opened #141 "issue reporting - apps should be sorted alphabetically"
### Steps to reproduce
open issue reporting

### Expected behaviour
display apps sorted

### Actual behaviour
display apps "chaotic" - time consuming to search

## Server configuration detail

**Operating system:** Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3 (2019-09-02) x86_64

**Webserver:** Apache/2.4.25 (Debian) (apache2handler)

**Database:** mysql 10.4.8

**PHP version:**

7.3.9-1+0~2019090

[2019-10-02 09:29] simonspa opened #149 "Undefined index: log-detail"
### Steps to reproduce
Use Issue reporting

### Expected behaviour
no errors in log

### Actual behaviour
errors in log:

[code]

## Server configuration detail

**Operating system:** Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u1 (2019-09-20) x86_64

**Webserver:** nginx/1.10.3 (fpm-fcgi)

**Database:** mysql 10.1.41

**PHP version:**

7.2.22-1+0~20190902.26+debian9~1.gbpd64eb7
Modules loade

[2019-10-15 11:07] TP75 opened #156 "feature request: self advertise this app in the report text"
This is a quite helpful tool.  My sincere thanks to @juliushaertl

IMHO the idea of a self advertising text at to the bottom of the report text may be worth some additional coding efforts.

## Proposed feature:

Add a final line to any report produced such as:

[code]

This report was produced by help of the [issuetemplate: 0.5.0 app](https://apps.nextcloud.com/apps/issuetemplate).

[2019-10-15 11:39] TP75 opened #157 "Privacy issue: version 0.5.0 still too 'chatty'"
This is a helpful tool.

IMHO there is **room for improvement in protecting the privacy of a server installation** in the template report produced.

[code]

Please note the **text `"### manually REMOVED SENSITIVE VALUE###"` had to be edited manually** to remove sensitive values which where originally placed in the template report produced by the tool.  However, text with `"***REMOVED SENSITIVE VAL

[2019-10-15 11:46] TP75 commented on #27
IMHO there is **room for improvement in protecting the privacy of a server installation** in the template report produced by version 0.5.0 of the tool.

[code]

see [Privacy issue: version 0.5.0 still too 'chatty' #157](#157)

[2019-10-15 12:03] nickvergessen commented on #157
Duplicate of #27

[2019-10-15 12:03] #157 closed

[2019-10-15 12:06] nickvergessen commented on #27
See the comment here, why those values are not "sensitive":
https://github.com/nextcloud/server/pull/7004/files#r147828111

[2019-10-15 12:29] TP75 commented on #27
@nickvergessen Thank you. Now I better understand the burden to the forum and the developers involved when basic configuration problems are reported as bugs.  Nobody is perfect and this mishap could happen with anybody unfortunately.

However, IMHO this does **not prove** the a.m. values are not "sensitive" and I continue in calling exposing the server domain and cli.url settings unwise in general

[2019-10-15 12:42] nickvergessen commented on #27
Sorry, I really disagree there. A domain is nothing sensitive. There are public records about those. Just search for ones with a `cloud` subdomain being registered. You can also look at letsencrypt directories to see which `cloud.*` domains have a SSL cert.

You should always treat your software/server like it is accessible by anyone, because that is what it is, when it is in the public internet.

[2019-10-15 12:46] ho1ger commented on #27
I think as long as people feel unwell about certain points of information -- which are not even relevant for debugging -- included in the template, this information should be excluded as it might deter people from submitting bug reports.

[2019-10-15 12:49] nickvergessen commented on #27
Well this issue here is still open. We can add an option to remove the stuff. Just wanted to state why it 1. shouldn't be default 2. does not make anything more secure.

But I also get your points. So fine by me (see the comments in the PR I linked above for a good solution) as long as it's opt in, to allow easy-help if people are not "paranoid".

[2019-10-15 12:53] TP75 commented on #27
I welcome this discussion. However, I disagree in some aspects.

One should not flip Privacy and Security without applicable difference.  Furthermore, the tool is aimed at providing data on presumably "bugged" i.e. possibly "failing" environments. I dont want to reach too far but there is good cause for the principles of [Responsible disclosure](https://en.wikipedia.org/wiki/Responsible_disclosure

[2019-10-15 13:02] nickvergessen commented on #27
Just so you know, this is a real issue, see: https://github.com/nextcloud/spreed/issues/2312 :P In the meantime I'm experienced enough to know the values which are bugged. But still without the values the user has set, there is no way to help them.

[2019-10-20 12:55] e-alfred opened #159 "Release for Nextcloud 17?"
Hello,

@juliushaertl can you publish a new release for Nextcloud 17 to the App Store?

Do you think this app could become an official app shipped with Nextcloud directly? I am sure this app could help you and everyone developing Nextcloud apps getting better bug reports after all.

[2019-10-20 12:57] e-alfred commented on #156
I think this app should be part of the official Nextcloud release and shipped with it too by default. In essence it could help everybody getting better bug reports having all the necessary information while making bug reports and feature requests for users more easy.

[2019-10-21 11:16] juliushaertl commented on #159
Ah yes, totally forgot that.

[2019-10-21 11:18] juliushaertl commented on #156
I'm not a big fan of adding more and more apps to the release as this makes updating them much harder, since they are then bound to the server release cycle.

Not sure about the note though, since when you have to parse all the information as a maintainer every line that isn't essential to the bug report might distract.

[2019-10-21 12:35] TP75 commented on #156
Good point. I would agree and would appreciate a minimal number of apps.

[2019-10-21 12:41] TP75 commented on #156
Personally I am neutral on that. Not my business and not my product, your marketing and your money.

I can happily live without. Furthermore, I have no responsibilities with Nextcloud or burden as a payed dev in the preumed need of asking for more information in e.g., too much, too brief or lazy comments and/or problem reports.

[2019-10-21 13:14] juliushaertl commented on #156
We advertise the issue template app in the bug report template already. Unfortunately lots of people still don't read that and skip adding the required information.

![image](https://user-images.githubusercontent.com/3404133/67208244-6eaf8d00-f415-11e9-8375-9db066ac7b4e.png)

Let's close this then for above mentioned reasons. Thanks for the suggestion anyway. It is highly appreciated :wink:

[2019-10-21 13:14] #156 closed

[2019-11-11 14:44] e-alfred commented on #159
@juliushaertl Can you push a new release? Nextcloud 17 is out now for a few weeks already.

[2019-12-25 22:04] ahtoagah opened #180 "nc 17.0.2 caldav broken under php7.4; works fine under php7.3"
Upgrading my apache2 server to use php7.4 breaks my calendar sync which previously worked fine with php7.3.

Details:
-- nc 17.0.2 on Ubuntu 18.04.1
-- php7.4 includes all the equivalent modules as used under php7.3
-- my nc Calendar app is the most current version
-- the nc Security & Setup Warnings page shows no errors
-- on macOS 10.13.6, I setup a Caldav account to my nc server and had no prob

[2019-12-30 10:35] juliushaertl commented on #180
This is the bug tracker of the issuetemplate app. Please report server bugs in the server repo. Nextcloud 17 is not officially supporting PHP 7.4, you might need to stick with 7.3 until Nextcloud 18 is out.

[2019-12-30 10:35] #180 closed

[2020-01-07 16:32] juliushaertl commented on #159
Release for 17/18 is published

[2020-01-07 16:32] #159 closed

[2020-02-22 19:26] SimJoSt commented on #42
Error does appear to be resolved. Doesn't occur on Nextcloud 17.0.3 and app version 0.6.0

[2020-02-22 19:26] #42 closed

[2020-02-26 08:37] Githopp192 opened #199 "[PHP] Error: Undefined index: log-detail at /var/www/html/nextcloud/apps/issuetemplate/lib/Detail.php#59"
### Steps to reproduce
appears regulary into the nextcloud log

### Expected behaviour
no errors

### Actual behaviour
php errors

## Server configuration detail

**Operating system:** Linux 3.10.0-1062.12.1.el7.x86_64 #1 SMP Tue Feb 4 23:02:59 UTC 2020 x86_64

**Webserver:** Apache (apache2handler)

**Database:** mysql 5.5.64

**PHP version:**

7.2.24
Modules loaded: Core, date, libxml, openssl,

[2020-02-29 10:42] SimJoSt commented on #27
Is there a way for apps to communicate to this one, which app specific values are sensitive?

The Sentry app also has sensitive values that should be redacted:
[code]

[2020-02-29 10:59] nickvergessen commented on #27
Yes, send a pull request to the server changing this file:
https://github.com/nextcloud/server/blob/master/lib/private/SystemConfig.php#L41

[2020-07-21 10:45] szaimen opened #232 "Make NC19 compatible"
Hi, would be great if the app would become NC19 compatible.
Thanks!

[2020-08-13 12:47] e-alfred commented on #232
The app works fine on Nextcloud 19, @juliushaertl can you publish a new release to the App Store?

[2020-08-28 10:35] stratege1401 commented on #232
Manually edited on my testing bed ! Working fine !

A release is needed in APP store for my customers integration, please!

[2020-09-06 15:10] szaimen commented on #232
I guess this can be closed since there was a new update with compatibility to NC19.

[2020-09-06 15:10] #232 closed

[2020-09-06 17:06] stratege1401 commented on #232
issue is NOT FIXED !!! Don't close stuff NOT FIXED ... unless the devell clearly announce it is dead !!!

[2020-09-10 20:29] Githopp192 commented on #199
Same errors alto in version NC 19.0.2

[2020-09-11 05:40] juliushaertl commented on #199
Should be fixed now by 75197fa though I'm not sure how that should happen, maybe you have some steps to reproduce as well so we can fix the frontend that doesn't seem to send over the filled out log details here.

[2020-09-21 10:34] js-d-coder opened #252 "[PHP] Error: Trying to access array offset on value of type null at /var/www/html/nextcloud/apps/issuetemplate/lib/Detail.php#59"
### Steps to reproduce
Try to create issue report using this app

### Expected behaviour
should not see this error in Nextcloud logs

### Actual behaviour
got this error, but was able to create the issue

## Server configuration detail

**Operating system:** Linux 5.4.0-47-generic #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020 x86_64

**Webserver:** nginx/1.18.0 (fpm-fcgi)

**Database:** pgsql Postgre

[2020-11-29 15:21] szaimen commented on #252
I've got the same issue

[2020-11-29 15:21] szaimen commented on #199
I've got the same issue on 20.0.2

[2021-04-06 12:21] HouraisanNEET opened #302 "Translation and L10N Support"
**Is your feature request related to a problem? Please describe.**
Translate Issue Template into several languages.

**Describe the solution you'd like**
- Use Transifex to translate strings.

[2021-05-10 14:24] stratege1401 commented on #134
easy fix is reverting to "classic color"...

[2021-06-01 12:50] e-alfred opened #326 "New release for Nextcloud 21?"
Hello,

is it possible to make a new release for Nextcloud 21?

[2021-08-29 07:54] enoch85 commented on #326
And 22...? :)

[2021-08-29 08:12] enoch85 commented on #326
This script will help anyone that wants to enable it:

[code]

On your own risk.

[2021-08-30 22:14] szaimen commented on #326
I think better is this:
https://github.com/nextcloud/vm/pull/2099#issuecomment-908724096

[2021-09-13 22:56] szaimen opened #353 "failed to compile the app from master"
Curren master: https://github.com/nextcloud/issuetemplate/blob/7adc0c1af5fb51a3275886d85aab78adae502107
See the stack (I've run `npm ci` and `npm run build`)

[code]

[2021-11-30 22:47] iGadget commented on #326
...and what about 23? :-S

[2022-01-11 11:34] TP75 commented on #326
Happy New Year and a kind reminder.

@juliushaertl Can you push a new release please? Nextcloud 21 until 23 is out now for some time...

[2022-01-29 11:21] nickvergessen opened #415 "Drone disabled"
Please move to github actions.
Check https://github.com/nextcloud/app-tutorial/pull/373 for unit testing
And https://github.com/nextcloud/app-tutorial/tree/master/.github/workflows for linting, node, etc.

[2022-05-03 15:46] Dubidubiduu commented on #326
White screen in 24 admin setting

[2022-05-03 16:21] enoch85 commented on #326
Now we want 24! :D